*{
    font-family: 'Times New Roman', Times, serif;
}

:root {
  --main-color: rgb(70, 92, 123);
}

a:hover{
    background-color: gold;
}

body{
    margin:3% 5% 3% 5% ;
    font-style: normal;
}

h1,h2,h3,#date{
    color: var(--main-color);
}

h2{
    text-decoration: underline;
}

a{
    margin-right: 5px;
}

article > p {
    margin: 0;
}

table,tr,td{
    border: solid 1px;
    border-color: var(--main-color);
}

#header{
    display: flex;
    flex-direction: column;
}

#date{
display: flex;
justify-content: left;
font-size: larger;
}

#userInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cihan{
    margin-bottom: 0;
}

#boldWords{
    font-weight: bold;
}

#medias{
    display: flex;   
    flex-direction: column;
    width: 100%;
    
}

video{
    width: 100%;
    height: 20vh; /* adjust this to control height */
    object-fit: cover;    
}

#resumeList > ul{
    color: var(--main-color);
    list-style: square;
}

#formContainer{
    margin-top: 10px;
}

.arrow{
    width: 20px;
    height: 20px;
    padding-top: 10px;
    border-right: 10px;
}

